################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EdiFabric.Examples.NCPDP.Script.Common/bin/Debug
/EdiFabric.Examples.NCPDP.Script.Demo/bin/Debug
/EdiFabric.Examples.NCPDP.Script.JSON/bin/Debug
/EdiFabric.Examples.NCPDP.Script.Common/obj/Debug
/EdiFabric.Examples.NCPDP.Script.Demo/obj/Debug
/EdiFabric.Examples.NCPDP.Script.JSON/obj/Debug
/EdiFabric.Examples.NCPDP.Script.ReadNCPDP/bin/Debug
/EdiFabric.Examples.NCPDP.Script.ReadNCPDP/obj/Debug
/EdiFabric.Examples.NCPDP.Script.ValidateNCPDP/bin/Debug
/EdiFabric.Examples.NCPDP.Script.ValidateNCPDP/obj/Debug
/EdiFabric.Examples.NCPDP.Script.WriteNCPDP/bin/Debug
/EdiFabric.Examples.NCPDP.Script.WriteNCPDP/obj/Debug
/EdiFabric.Examples.NCPDP.Script.XML/bin/Debug
/EdiFabric.Examples.NCPDP.Script.XML/obj/Debug
/packages
