################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EdiFabric.Examples.NCPDP.Script/v16
/NET Framework 4.8/.vs/EdiFabric.Examples.NCPDP.Script
/NET Framework 4.8/EdiFabric.Examples.NCPDP.Script.Common/bin
/NET Framework 4.8/EdiFabric.Examples.NCPDP.Script.Common/obj
/NET Framework 4.8/EdiFabric.Examples.NCPDP.Script.Demo/bin
/NET Framework 4.8/EdiFabric.Examples.NCPDP.Script.Demo/obj
/NET Framework 4.8/EdiFabric.Examples.NCPDP.Script.JSON/bin
/NET Framework 4.8/EdiFabric.Examples.NCPDP.Script.JSON/obj
/NET Framework 4.8/EdiFabric.Examples.NCPDP.Script.ReadNCPDP/bin
/NET Framework 4.8/EdiFabric.Examples.NCPDP.Script.ReadNCPDP/obj
/NET Framework 4.8/EdiFabric.Examples.NCPDP.Script.ValidateNCPDP/bin
/NET Framework 4.8/EdiFabric.Examples.NCPDP.Script.ValidateNCPDP/obj
/NET Framework 4.8/EdiFabric.Examples.NCPDP.Script.WriteNCPDP/bin
/NET Framework 4.8/EdiFabric.Examples.NCPDP.Script.WriteNCPDP/obj
/NET Framework 4.8/EdiFabric.Examples.NCPDP.Script.XML/bin
/NET Framework 4.8/EdiFabric.Examples.NCPDP.Script.XML/obj
/NET Framework 4.8/packages/Newtonsoft.Json.12.0.3
/NET 6/.vs/EdiFabric.Examples.NCPDP.Script
/NET 6/EdiFabric.Examples.NCPDP.Script.Common/bin
/NET 6/EdiFabric.Examples.NCPDP.Script.Common/obj
/NET 6/EdiFabric.Examples.NCPDP.Script.Demo/bin
/NET 6/EdiFabric.Examples.NCPDP.Script.Demo/obj
/NET 6/EdiFabric.Examples.NCPDP.Script.JSON/bin
/NET 6/EdiFabric.Examples.NCPDP.Script.JSON/obj
/NET 6/EdiFabric.Examples.NCPDP.Script.ReadNCPDP/bin
/NET 6/EdiFabric.Examples.NCPDP.Script.ReadNCPDP/obj
/NET 6/EdiFabric.Examples.NCPDP.Script.ValidateNCPDP/bin
/NET 6/EdiFabric.Examples.NCPDP.Script.ValidateNCPDP/obj
/NET 6/EdiFabric.Examples.NCPDP.Script.WriteNCPDP/bin
/NET 6/EdiFabric.Examples.NCPDP.Script.WriteNCPDP/obj
/NET 6/EdiFabric.Examples.NCPDP.Script.XML/bin
/NET 6/EdiFabric.Examples.NCPDP.Script.XML/obj
/NET 6/.vs/ProjectEvaluation
